<%= simple_form_for @todo, remote: true do |f| %>
 <div class="form-inputs">
   <%= f.input :name, placeholder: 'File taxes', label: "What\'s your new to-do?" %>
   <div>
    <%= f.label :due_date, label: "Due on:" %>
   </div>
   <%= f.date_field :due_date, placeholder: "02/30/2020" %>
 </div>

 <div class="form-actions mt-4">
  <%= f.button :submit, class: "btn btn-primary" %>
 </div>
<% end %>

